@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}



.parent-container{
    
}

.sect-one-two{
    background-color:rgba(255, 255, 255, 1);

}

/*section one + mresponsive of it*/

.section-one{
   display: flex;
   justify-content: space-between;
  padding:2em 3em;
   
}

.container{
    display: flex;
    gap:3rem;
    justify-content: center;
   align-items: center;
}

.p-one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

}

.p-one img{
    width:20px;
    height:20px;
    
}

.p-one h4{
    font-size:27px;
    color: rgba(15, 23, 42, 1);
    
  
   
}


.p-two{
    display: flex;
    gap:4rem;
}

.p-two a{
    text-decoration: none;
    color:rgba(15, 23, 42, 1);
    font-size:16px;
    font-weight:500;
    position: relative;
   
}


.p-two a::after {
    content: "";
    position: absolute;
    width: 0;
    height:2px;
    background-color: rgba(234, 88, 12, 1);
    top: 1.1rem;
    left: 0; 
    transition: width 0.5s ease-in-out; 
    
}

.p-two a:hover::after {
    width: 100%; 
}

.p-two span{
    display: flex;
    gap:10px;
}

.p-two span .arrow{
    position: relative;
    top:2px;
    font-size: 1rem;
}



.p-three{
    display: flex;
     gap: 1rem;
     align-items: center;
     justify-content: center;
    
}


.p-three .login{
    border: none;
    background: transparent;
    color: rgba(15, 23, 42, 1) ;
    font-size:15px;
    font-weight:500;
}

.p-three .login:hover{
    color: rgba(234, 88, 12, 1);
}




.p-three .register{
   background-color:transparent;
   border: 2px solid rgba(15, 23, 42, 1);
    color: rgba(15, 23, 42, 1) ;
    font-size:15px;
    padding:10px;
    border-radius:7px;
    width:125px;
    font-weight:500;
    cursor: pointer;
    box-sizing: border-box;


}

.p-three .register:hover {
    border-color: rgba(234, 88, 12, 1);
    background-color:rgba(234, 88, 12, 1) ;
    color: white;


}

.sidebar{
    display: none;
}


@media (max-width:955px){

    .sidebar{
        display: block;
    }

    .p-two{
        display: none;
    }

    .p-three{
        display: none;
    }

    .burger{
        font-size: 25px;
        
       
    }
    

}

@media (max-width:593px){
    .section-one{
        padding:2em 1.5em;
    }
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////*/

/*section two*/

.section-two{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 3rem;
   gap:1rem;
  padding-left: 1em;
   }

.sec2-left{
    display: flex;
    flex-direction: column;
    width:35%;
    max-width:35%;
    gap:1.5rem;
    
   

    }

.sec2-left h5{
    color:rgba(15, 23, 42, 1);
    font-size: 45px;
    font-weight: 800;
    max-width:400px;
  
}

.sec2-left p{
    font-size: 17px;
    line-height:25px;
    max-width:415px;
    color: rgba(15, 23, 42, 1) ;
}


.sign-demo{
    display: flex;
    gap: 1.5rem;
}

.sign-btn{
    background-color: rgba(234, 88, 12, 1) ;
    color: white;
    font-weight:500;
    border: none;
    padding: 11px  36px;
    border-radius: 5px;
    white-space: nowrap;
    font-size:16px;
    cursor: pointer;
}



.demo{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
    
    }

    .demo img{
        width:20px;
        height:20px;
       
    }

    .demo p{
        color: rgba(37, 99, 235, 1);
        font-size: 14px;
        font-weight:500;
        
    }

.trust-icons{
    display: flex;
    gap:2rem;
    margin-top: 2rem;
   
   
}

.trust-icons span{
    color: rgba(71, 85, 105, 1);
    font-size:14px;
    max-width:120px;
    line-height:15px;
    
}

.icons-5{
    display: flex;
    gap: 2rem;
}

.icons-5 img{
    width:25px;
    height:25px;
}


 .sec2-right{
width: 100%;
 max-width:600px; 
 height:550px;
display: flex;
gap:3.5rem;



} 

.sec2right-left{
    display: flex;
    flex-direction: column;
    
   }

.messages{
    display: flex;
    flex-direction: column;  
    gap: 1rem;
    max-width:235px;
    height: 228px;
    position: relative;
    left:6rem;
    top:2rem;
    
}

.decore{
    box-shadow: 0 0 4px 0 #00000012, 0 4px 6px -1px #0000001A;

}
.position-span{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap:1rem;
}

.position-span span:nth-child(1){
    color:#0F172A;
    background-color:#FFFFFF;
    border-radius:15px 15px 3px 15px;
    padding:10px;
    width:150px;
   }

   .position-span span:nth-child(2){
    color:#0F172A;
    background-color:#FFFFFF;
    border-radius:15px 15px 3px 15px;
    padding:10px;
    width:80px;
   }


   .messages > span:nth-of-type(1){
    color:#FFFFFF;
    background-color:#334155;
    border-radius:15px 15px 15px 3px;
    padding:11px 10px;
    width:190px;
    margin-left:1.5rem;
   }

   .messages > span:nth-of-type(2){
    color:#FFFFFF;
    background-color:#334155;
    border-radius:15px 15px 15px 3px;
    padding:11px 10px;
    width:150px;
    margin-left:1.5rem;
   }


   img.women{
    width: 100%;
    max-width:280px;
    height:300px;
   

    
   }

.sec2right-right{
    display: flex;
    flex-direction: column;
    gap:1rem;
    position: relative;
    top:2rem;
}

img.girl{
    width: 100%;
    max-width:250px;
    height:300px;
}

img.icons-sec3{
width: 100%;
    max-width: 159px;
    height: 128px;
}





@media (max-width:1200px){
    .sec2-left{
       
        width:40%;
        max-width:40%;
        gap:1.5rem;
        
       
    
        }


}

@media (max-width:953px){
    .sec2-right{
        position: relative;
        
        
        
        
        } 
    img.women{
        width: 100%;
        max-width:250px;
        height:280px; }
    
   
    
    img.girl{
        width: 100%;
        max-width:200px;
        height:280px;
    }
    
    img.icons-sec3{
    width: 100%;
    max-width:130px;
        height: 120px;
    }

    .sec2-right{
        width: 100%;
         max-width:600px; 
         height:550px;
        display: flex;
        gap:5rem;
        
        
        
        } 
    
   
    
}

@media (max-width:921px){

    .sec2-right{
        position: relative;
} 
    img.women{
        width: 100%;
        max-width:250px;
        height:250px; }
    
   
    
    img.girl{
        width: 100%;
        max-width:200px;
        height:250px;
    }
    
    img.icons-sec3{
    width: 100%;
    max-width:100px;
        height: 120px;
    }

    .sec2-right{
        width: 100%;
         max-width:600px; 
         height:550px;
        display: flex;
        gap:5rem;
        
        
        
        } 


        .messages{
            display: flex;
            flex-direction: column;  
            gap: 1rem;
            max-width:235px;
            height: 228px;
            position: relative;
            left:4.5rem;
            top:2.5rem;
            
        }
        
       
        .position-span{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            gap:1rem;
        }
        
        .position-span span:nth-child(1){
            color:#0F172A;
            background-color:#FFFFFF;
            border-radius:15px 15px 3px 15px;
            padding:10px;
            width:135px;
            font-size: 14px;
           }
        
           .position-span span:nth-child(2){
            color:#0F172A;
            background-color:#FFFFFF;
            border-radius:15px 15px 3px 15px;
            padding:10px;
            width:70px;
            font-size: 14px;
           }
        
        
           .messages > span:nth-of-type(1){
            color:#FFFFFF;
            background-color:#334155;
            border-radius:15px 15px 15px 3px;
            padding:11px 10px;
            width:165px;
            margin-left:1.5rem;
            font-size: 14px;
           }
        
           .messages > span:nth-of-type(2){
            color:#FFFFFF;
            background-color:#334155;
            border-radius:15px 15px 15px 3px;
            padding:11px 10px;
            width:135px;
            margin-left:1.5rem;
            font-size: 14px;
           }
        
        
    
   
    
}

@media (max-width:852px){
    .sec2-right{
        position: relative;
        left:0;
} 
    .section-two{
        display: flex;
        flex-direction: column;
        gap:1rem;
       padding-left:5em;
       padding-right: 1em;
        }

        .sec2-left{
            display: flex;
            flex-direction: column;
            width:100%;
            max-width:100%;
            gap:1.5rem;
            
            }

 .sec2-right{
                width: 100%;
                 max-width:100%; 
                 height:550px;
                display: flex;
                gap:3.5rem;
     } 


     .sec2-left h5{
        font-size: 45px;
        max-width:550px;
      
    }
    
  

    
    .messages{
        display: flex;
        flex-direction: column;  
        gap: 1rem;
        max-width:235px;
        height: 228px;
        position: relative;
        left:6rem;
        top:3rem;
        
    }
    
  
    .position-span{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        gap:1rem;
    }
    
    .position-span span:nth-child(1){
        color:#0F172A;
        background-color:#FFFFFF;
        border-radius:15px 15px 3px 15px;
        padding:10px;
        width:150px;
       }
    
       .position-span span:nth-child(2){
        color:#0F172A;
        background-color:#FFFFFF;
        border-radius:15px 15px 3px 15px;
        padding:10px;
        width:80px;
       }
    
    
       .messages > span:nth-of-type(1){
        color:#FFFFFF;
        background-color:#334155;
        border-radius:15px 15px 15px 3px;
        padding:11px 10px;
        width:190px;
        margin-left:1.5rem;
       }
    
       .messages > span:nth-of-type(2){
        color:#FFFFFF;
        background-color:#334155;
        border-radius:15px 15px 15px 3px;
        padding:11px 10px;
        width:150px;
        margin-left:1.5rem;
       }
    
    
       img.women{
        width: 100%;
        max-width:280px;
        height:300px;
       
    
        
       }
    
    .sec2right-right{
        display: flex;
        flex-direction: column;
        gap:1rem;
        position: relative;
        top:2rem;
    }
    
    img.girl{
        width: 100%;
        max-width:250px;
        height:300px;
    }
    
    img.icons-sec3{
    width: 100%;
        max-width: 159px;
        height: 128px;
    }
    
    
    
   
    
    
   
    
    
    
   
   
    
     
}

@media (max-width:744px){
    
    .section-two{
        display: flex;
        flex-direction: column;
        gap:1rem;
       padding-left:3em;
        }

    }

    @media (max-width:610px){
        .section-two{
            display: flex;
            flex-direction: column;
            gap:1rem;
           padding-left:2em;
            }
        img.women{
            width: 100%;
            max-width:250px;
            height:250px; }
        
       
        
        img.girl{
            width: 100%;
            max-width:200px;
            height:250px;
        }
        
        img.icons-sec3{
        width: 100%;
        max-width:100px;
            height: 120px;
        }
    
        .sec2-right{
            width: 100%;
             max-width:600px; 
             height:550px;
            display: flex;
            gap:5rem;
            
            
            
            } 
    
    
            .messages{
                display: flex;
                flex-direction: column;  
                gap: 1rem;
                max-width:235px;
                height: 228px;
                position: relative;
                left:4.5rem;
                top:2.5rem;
                
            }
            
           
            .position-span{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                gap:1rem;
            }
            
            .position-span span:nth-child(1){
                color:#0F172A;
                background-color:#FFFFFF;
                border-radius:15px 15px 3px 15px;
                padding:10px;
                width:135px;
                font-size: 14px;
               }
            
               .position-span span:nth-child(2){
                color:#0F172A;
                background-color:#FFFFFF;
                border-radius:15px 15px 3px 15px;
                padding:10px;
                width:70px;
                font-size: 14px;
               }
            
            
               .messages > span:nth-of-type(1){
                color:#FFFFFF;
                background-color:#334155;
                border-radius:15px 15px 15px 3px;
                padding:11px 10px;
                width:165px;
                margin-left:1.5rem;
                font-size: 14px;
               }
            
               .messages > span:nth-of-type(2){
                color:#FFFFFF;
                background-color:#334155;
                border-radius:15px 15px 15px 3px;
                padding:11px 10px;
                width:135px;
                margin-left:1.5rem;
                font-size: 14px;
               }
            

    }


    @media (max-width:535px){
        .section-two{
            display: flex;
            flex-direction: column;
            gap:1rem;
           padding-left:2em;
            }
        img.women{
            width: 100%;
            max-width:200px;
            height:220px; }
        
       
        
        img.girl{
            width: 100%;
            max-width:180px;
            height:230px;
        }
        
        img.icons-sec3{
        width: 100%;
        max-width:90px;
            height:100px;
        }
    
     .messages{
                display: flex;
                flex-direction: column;  
                gap:7px;
                max-width:235px;
                height: 228px;
                position: relative;
                left:4rem;
                top:5rem;
                
            }
            
           
           

    }

    @media (max-width:503px){
        .sec2-right{
            width: 100%;
             max-width:600px; 
             height:550px;
            display: flex;
            gap:3rem;
         } 
        .section-two{
            display: flex;
            flex-direction: column;
            gap:1rem;
           padding-left:2em;
            }
        img.women{
            width: 100%;
            max-width:150px;
            height:200px; }
        
       
        
        img.girl{
            width: 100%;
            max-width:150px;
            height:200px;
        }
        
        img.icons-sec3{
        width: 100%;
        max-width:90px;
            height:100px;
        }
    
     .messages{
                display: flex;
                flex-direction: column;  
                gap:7px;
                max-width:235px;
                height: 228px;
                position: relative;
                left:3rem;
                top:6rem;
                
            }
            
           
            .position-span{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                gap:7px;
            }
            
            .position-span span:nth-child(1){
                color:#0F172A;
                background-color:#FFFFFF;
                border-radius:15px 15px 3px 15px;
                padding:10px 5px;
                width:125px;
                font-size:11px;
               }
            
               .position-span span:nth-child(2){
                color:#0F172A;
                background-color:#FFFFFF;
                border-radius:15px 15px 3px 15px;
                padding:10px 5px;
                width:60px;
                font-size:11px;
               }
            
            
               .messages > span:nth-of-type(1){
                color:#FFFFFF;
                background-color:#334155;
                border-radius:15px 15px 15px 3px;
                padding:10px 5px;
                width:125px;
                margin-left:1.5rem;
                font-size:11px;
               }
            
               .messages > span:nth-of-type(2){
                color:#FFFFFF;
                background-color:#334155;
                border-radius:15px 15px 15px 3px;
                padding:10px 5px;
               width:120px;
                margin-left:1.5rem;
                font-size: 11px;
               }
            

    }

    @media (max-width:443px){

        .trust-icons{
            display: flex;
            flex-direction: column;
            gap:1rem;
            margin-top: 2rem;
           
           
        }
        
        .trust-icons span{
            color: rgba(71, 85, 105, 1);
            font-size:17px;
            max-width:120px;
            line-height:15px;
            white-space: nowrap;
            
        }
        
    }

    @media (max-width:397px){
        .sec2-right{
            position: relative;
           left: -1.5rem;
         }   
    }









/*/////////////////////////////////////////////////////////////////////////////////////////////////*/


/*section four*/

.section-four{
    background-color:rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top:5rem;
   margin-bottom:12rem;
   padding-left:2em;
   /* background-color: #1E40AF; */
   
   
}

.sec4-left{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width:25%;
    max-width:25%;
    /* background-color: #1E40AF; */
    

}

.sec4-left h4{
    color: rgba(15, 23, 42, 1);
    font-size:37px;
    font-weight:800;
    max-width:350px;
   
}

.pionts {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.piont-item{
    display: flex;
    gap:10px;
}

.piont-item p{
    color: rgba(15, 23, 42, 1);
}

.tick{
    font-size: 12px;
    color: rgba(15, 23, 42, 1);
}

.find-more{
    display: flex;
    
    gap:1rem;
}

.find-more span{
    color:#2563EB;
    font-size:15px;
    
}


.find-more .rightArrow{
    color:#2563EB;
    font-size:13px;
    position: relative;
    top:6px;
}

.hide{
    display: none;
}

.sec4-right{
   position: relative; 
   width:700px;
   /* background-color: burlywood; */
}

img.egg{
   width:400px;
   height:550px;
}

.video-control{
    position: relative;
   
}


.div-videio{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color:#FFFFFF;
    width:600px;
    height:360px;
    box-shadow: 0 0 15px 0 #00000012, 0 25px 50px -12px #00000012;
    border-radius: 20px;
    padding:1em 6px;
    position: absolute;
    top:-1rem;
    left:8rem;
   
}

video {
width:100%;
height:350px;
object-fit: cover;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
    
}

.piontss{
    margin-left:10px;
}

.plat-pause{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:6rem;
    left:14rem;
     z-index: 3;
    width: 144px;
    height: 144px;
    border-radius: 100px;
    background-color:#12161980;
}

.playv{
    color: white;
    font-size:80px;
    cursor: pointer;
}

.sec4-text{
    display: flex;
    position: absolute;
    top:20rem;
    left:4rem;
    gap: 1rem;
}

.text-item{
    background-color: #FFFFFF;
    width:175px;
    height:205px;
    border-radius: 10px;
    padding:1em;
    box-shadow: 0 0 10px 0 #00000012, 0 20px 25px -5px #0000001A;
    display: flex;
    flex-direction: column;
    gap:10px;

}

.purple{
    background-color:#F3E8FF;
    color:#6B21A8;
}

.blue{
    background-color:#DBEAFE;
    color:#1E40AF;
}

.green{
    background-color:#DCFCE7;
    color:#166534;
}

.text-item  span{
    width:fit-content;
    border-radius:4px;
    padding:5px;
    
}

.text-item h4{
    color: #0F172A;
    font-weight: 500;
    font-size: 20px;
    width:180px;
}

.text-item p{
    color: #475569;
    font-weight: 400;
    font-size: 14px;
    width:170px;
    line-height: 19.6px;
}

.text-item button{
    color: #2563EB;
    line-height: 24px;
    font-weight:500;
    font-size: 14px;
   border: 2px solid #2563EB ;
   border-radius: 8px;
   background-color: white;
   padding:8px 12px 8px 12px;
   width: 168.33px;
   height:40px;

}


@media (max-width:1079px){

    .sec4-right{
        position: relative; 
        left: 1rem;
        width:650px;
        /* background-color: burlywood; */
     }

     .sec4-left{
        display: flex;
        flex-direction: column;
        gap:2rem;
        width:30%;
        max-width:30%;
        /* background-color: #1E40AF; */
        
    
    }
     
    img.egg{
        width:400px;
        height:550px;
     }
     
   .div-videio{
         display: flex;
         flex-direction: column;
         gap:10px;
         background-color:#FFFFFF;
         width:450px;
         height:300px;
         box-shadow: 0 0 15px 0 #00000012, 0 25px 50px -12px #00000012;
         border-radius: 20px;
         padding:1em 6px;
         position: absolute;
         top:2.5rem;
         left:8rem;
        
     }
     
     video {
     width:100%;
     height:290px;
     object-fit: cover;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
         
     }
     
     .piontss{
         margin-left:10px;
     }
     
     .plat-pause{
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         top:5rem;
         left:10rem;
          z-index: 3;
         width: 144px;
         height: 144px;
         border-radius: 100px;
         background-color:#12161980;
     }
     
     .playv{
         color: white;
         font-size:80px;
         cursor: pointer;
     }
     
     .sec4-text{
         display: flex;
         position: absolute;
         top:20rem;
         left:4rem;
         gap: 1rem;
     }
     
     .text-item{
         background-color: #FFFFFF;
         width:150px;
         height:180px;
         border-radius: 10px;
         padding:15px;
         box-shadow: 0 0 10px 0 #00000012, 0 20px 25px -5px #0000001A;
         display: flex;
         flex-direction: column;
         gap:7px;
     
     }
     
    
     .text-item  span{
     width:fit-content;
         border-radius:4px;
         padding:5px;
         font-size: 14px;
         
     }
     
     .text-item h4{
         color: #0F172A;
         font-weight: 500;
         font-size:17px;
         width:150px;
     }
     
     .text-item p{
         color: #475569;
         font-weight: 400;
         font-size: 14px;
         width:150px;
         line-height:16px;
     }
     
     .text-item button{
         color: #2563EB;
         line-height: 24px;
         font-weight:500;
         font-size:13px;
        border: 2px solid #2563EB ;
        border-radius: 8px;
        background-color: white;
       padding: 2px;
        width:140px;
        height:35px;
     
     }

     .text-item:nth-child(3) button{
        margin-top: 1rem;
     }
     
   
}

@media (max-width:1004px){

    .sec4-right{
        position: relative; 
        left:0rem;
        width:650px;
        /* background-color: burlywood; */
     }

     .sec4-left{
        display: flex;
        flex-direction: column;
        gap:2rem;
        width:30%;
        max-width:30%;
        /* background-color: #1E40AF; */
        
    
    }
     
    img.egg{
        width:300px;
        height:450px;
     }
     
   .div-videio{
         display: flex;
         flex-direction: column;
         gap:10px;
         background-color:#FFFFFF;
         width:400px;
         height:250px;
         box-shadow: 0 0 15px 0 #00000012, 0 25px 50px -12px #00000012;
         border-radius: 20px;
         padding:1em 6px;
         position: absolute;
         top:2.5rem;
         left:8rem;
        
     }
     
     video {
     width:100%;
     height:240px;
     object-fit: cover;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
         
     }
     
     .piontss{
         margin-left:10px;
     }
     
     .plat-pause{
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         top:3rem;
         left:8rem;
          z-index: 3;
         width: 144px;
         height: 144px;
         border-radius: 100px;
         background-color:#12161980;
     }
     
     .playv{
         color: white;
         font-size:80px;
         cursor: pointer;
     }
     
     .sec4-text{
         display: flex;
         position: absolute;
         top:18rem;
         left:4rem;
         gap: 1rem;
     }
     
     .text-item{
         background-color: #FFFFFF;
         width:130px;
         height:170px;
         border-radius: 10px;
         padding:15px;
         box-shadow: 0 0 10px 0 #00000012, 0 20px 25px -5px #0000001A;
         display: flex;
         flex-direction: column;
         gap:7px;
     
     }
     
    
     .text-item  span{
     width:fit-content;
         border-radius:4px;
         padding:5px;
         font-size: 13px;
         
     }
     
     .text-item h4{
         color: #0F172A;
         font-weight: 500;
         font-size:15px;
         width:130px;
     }
     
     .text-item p{
         color: #475569;
         font-weight: 400;
         font-size: 13px;
         width:140px;
         line-height:16px;
     }
     
     .text-item button{
         color: #2563EB;
         line-height: 24px;
         font-weight:500;
         font-size:13px;
        border: 2px solid #2563EB ;
        border-radius: 8px;
        background-color: white;
       padding: 2px;
        width:100px;
        height:30px;
     
     }

     .text-item:nth-child(3) button{
        margin-top: 1rem;
     }
     
   
}

@media (max-width:852px){
    .section-four{
       flex-direction: column;
        align-items:flex-start;
        justify-content:flex-start;
        padding-left:4em;
        gap:4rem;
    }

    .sec4-right{
        position: relative; 
        left:0rem;
        width:100%;
        margin-top: -3rem;
        /* background-color: burlywood; */
     }

    .sec4-left{
        width:100%;
        max-width:none;
        
    
    }


    .sec4-left h4{
        color: rgba(15, 23, 42, 1);
        font-size:37px;
        font-weight:800;
        max-width:520px;
       
    }
    
    .pionts {
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    
    .piont-item{
        display: flex;
        gap:10px;
    }
    
    .piont-item p{
        color: rgba(15, 23, 42, 1);
        font-size:18px;
        line-height:28px;
       
    }
    
    .tick{
        font-size: 16px;
        color: rgba(15, 23, 42, 1);
    }
    
    
    .find-more span{
        color:#2563EB;
        font-size:15px;
        
    }
    
    
    .hide{
        display:block;
        max-width:420px ;
        line-height:23px;
    }



    img.egg{
        width:400px;
        height:550px;
     }
     
   .div-videio{
         display: flex;
         flex-direction: column;
         gap:10px;
         background-color:#FFFFFF;
         width:450px;
         height:300px;
         box-shadow: 0 0 15px 0 #00000012, 0 25px 50px -12px #00000012;
         border-radius: 20px;
         padding:1em 6px;
         position: absolute;
         top:2.5rem;
         left:8rem;
        
     }
     
     video {
     width:100%;
     height:290px;
     object-fit: cover;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
         
     }
     
     .piontss{
         margin-left:10px;
     }
     
     .plat-pause{
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         top:5rem;
         left:10rem;
          z-index: 3;
         width: 144px;
         height: 144px;
         border-radius: 100px;
         background-color:#12161980;
     }
     
     .playv{
         color: white;
         font-size:80px;
         cursor: pointer;
     }
     
     .sec4-text{
         display: flex;
         position: absolute;
         top:20rem;
         left:4rem;
         gap: 1rem;
     }
     
     .text-item{
         background-color: #FFFFFF;
         width:150px;
         height:180px;
         border-radius: 10px;
         padding:15px;
         box-shadow: 0 0 10px 0 #00000012, 0 20px 25px -5px #0000001A;
         display: flex;
         flex-direction: column;
         gap:7px;
     
     }
     
    
     .text-item  span{
     width:fit-content;
         border-radius:4px;
         padding:5px;
         font-size: 14px;
         
     }
     
     .text-item h4{
         color: #0F172A;
         font-weight: 500;
         font-size:17px;
         width:150px;
     }
     
     .text-item p{
         color: #475569;
         font-weight: 400;
         font-size: 14px;
         width:150px;
         line-height:16px;
     }
     
     .text-item button{
         color: #2563EB;
         line-height: 24px;
         font-weight:500;
         font-size:13px;
        border: 2px solid #2563EB ;
        border-radius: 8px;
        background-color: white;
       padding: 2px;
        width:140px;
        height:35px;
     
     }

     .text-item:nth-child(3) button{
        margin-top: 1rem;
     }

    }

@media (max-width:719px){
   
    img.egg{
        width:300px;
        height:450px;
     }
     
   .div-videio{
         display: flex;
         flex-direction: column;
         gap:10px;
         background-color:#FFFFFF;
         width:400px;
         height:250px;
         box-shadow: 0 0 15px 0 #00000012, 0 25px 50px -12px #00000012;
         border-radius: 20px;
         padding:1em 6px;
         position: absolute;
         top:2.5rem;
         left:8rem;
        
     }
     
     video {
     width:100%;
     height:240px;
     object-fit: cover;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
         
     }
     
     .piontss{
         margin-left:10px;
     }
     
     .plat-pause{
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         top:3rem;
         left:8rem;
          z-index: 3;
         width: 144px;
         height: 144px;
         border-radius: 100px;
         background-color:#12161980;
     }
     
     .playv{
         color: white;
         font-size:80px;
         cursor: pointer;
     }
     
     .sec4-text{
         display: flex;
         position: absolute;
         top:18rem;
         left:4rem;
         gap: 1rem;
     }
     
     .text-item{
         background-color: #FFFFFF;
         width:130px;
         height:170px;
         border-radius: 10px;
         padding:15px;
         box-shadow: 0 0 10px 0 #00000012, 0 20px 25px -5px #0000001A;
         display: flex;
         flex-direction: column;
         gap:7px;
     
     }
     
    
     .text-item  span{
     width:fit-content;
         border-radius:4px;
         padding:5px;
         font-size: 13px;
         
     }
     
     .text-item h4{
         color: #0F172A;
         font-weight: 500;
         font-size:15px;
         width:130px;
     }
     
     .text-item p{
         color: #475569;
         font-weight: 400;
         font-size: 13px;
         width:140px;
         line-height:16px;
     }
     
     .text-item button{
         color: #2563EB;
         line-height: 24px;
         font-weight:500;
         font-size:13px;
        border: 2px solid #2563EB ;
        border-radius: 8px;
        background-color: white;
       padding: 2px;
        width:100px;
        height:30px;
     
     }

     .text-item:nth-child(3) button{
        margin-top: 1rem;
     }
     
    }

@media (max-width:686px){
    .text-item{
        background-color: #FFFFFF;
        width:130px;
        height:180px;
        border-radius: 10px;
        padding:15px;
        padding-bottom: 20px;
        box-shadow: 0 0 10px 0 #00000012, 0 20px 25px -5px #0000001A;
        display: flex;
        flex-direction: column;
        gap:7px;
    
    }
    }

@media (max-width:650px){
    img.egg{
        width:250px;
        height:400px;
     }
     
   .div-videio{
         display: flex;
         flex-direction: column;
         gap:10px;
         background-color:#FFFFFF;
         width:300px;
         height:200px;
         box-shadow: 0 0 15px 0 #00000012, 0 25px 50px -12px #00000012;
         border-radius: 20px;
         padding:1em 6px;
         position: absolute;
         top:2.5rem;
         left:6rem;
        
     }
     
     video {
     width:100%;
     height:195px;
     object-fit: cover;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
         
     }
     
     .piontss{
         margin-left:10px;
     }
     
     .plat-pause{
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         top:2rem;
         left:6rem;
          z-index: 3;
         width:120px;
         height:120px;
         border-radius: 100px;
         background-color:#12161980;
     }
     
     .playv{
         color: white;
         font-size:60px;
         cursor: pointer;
     }
     
     .sec4-text{
         display: flex;
         position: absolute;
         top:15rem;
         left:7rem;
         gap: 1rem;
     }
     
     .text-item{
         background-color: #FFFFFF;
         width:120px;
         height:150px;
         border-radius: 10px;
         padding:15px;
         box-shadow: 0 0 10px 0 #00000012, 0 20px 25px -5px #0000001A;
         display: flex;
         flex-direction: column;
         gap:7px;
     
     }
     
    
     .text-item  span{
     width:fit-content;
         border-radius:4px;
         padding:5px;
         font-size:12px;
         
     }
     
     .text-item h4{
         color: #0F172A;
         font-weight: 500;
         font-size:13px;
         width:100px;
     }
     
     .text-item p{
         color: #475569;
         font-weight: 400;
         font-size: 13px;
         width:130px;
         line-height:15px;
     }
     
     .text-item button{
         color: #2563EB;
         line-height:20px;
         font-weight:500;
         font-size:12px;
        border: 2px solid #2563EB ;
        border-radius: 8px;
        background-color: white;
        text-align: center;
       padding:1px;
        width:100px;
        height:30px;
     
     }

     .text-item:nth-child(3){
       display: none;
     }
     
}

@media (max-width:471px){
    img.egg{
        width:200px;
        height:350px;
        position: relative;
        right: 2rem;
     }
     
   .div-videio{
         display: flex;
         flex-direction: column;
         gap:10px;
         background-color:#FFFFFF;
         width:300px;
         height:200px;
         box-shadow: 0 0 15px 0 #00000012, 0 25px 50px -12px #00000012;
         border-radius: 20px;
         padding:1em 6px;
         position: absolute;
         top:2.5rem;
         left:-1px;
        
     }
     
     video {
     width:100%;
     height:195px;
     object-fit: cover;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
         
     }
     
     .piontss{
         margin-left:10px;
     }
     
     .plat-pause{
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         top:2rem;
         left:6rem;
          z-index: 3;
         width:120px;
         height:120px;
         border-radius: 100px;
         background-color:#12161980;
     }
     
     .playv{
         color: white;
         font-size:60px;
         cursor: pointer;
     }
     
     .sec4-text{
         display: flex;
         position: absolute;
         top:15rem;
         left:1rem;
         gap: 1rem;
     }
     
     .text-item{
         background-color: #FFFFFF;
         width:120px;
         height:165px;
         border-radius: 10px;
         padding:15px;
         padding-bottom:10px;
         box-shadow: 0 0 10px 0 #00000012, 0 20px 25px -5px #0000001A;
         display: flex;
         flex-direction: column;
         gap:7px;
     
     }
     
    
     .text-item  span{
     width:fit-content;
         border-radius:4px;
         padding:5px;
         font-size:12px;
         
     }
     
     .text-item h4{
         color: #0F172A;
         font-weight: 500;
         font-size:13px;
         width:100px;
     }
     
     .text-item p{
         color: #475569;
         font-weight: 400;
         font-size: 13px;
         width:130px;
         line-height:15px;
     }
     
     .text-item button{
         color: #2563EB;
         line-height:20px;
         font-weight:500;
         font-size:12px;
        border: 2px solid #2563EB ;
        border-radius: 8px;
        background-color: white;
        text-align: center;
       padding:1px;
        width:100px;
        height:30px;
     
     }

     .text-item:nth-child(3){
       display: none;
     }
     
}


    
@media (max-width:516px){
    .section-four{
        padding-left:2em;
        padding-right: 1em;
        
    }

    
   
}


@media (max-width:381px){

   
   .sec4-text{
         display: flex;
         position: absolute;
         top:15rem;
         left:1rem;
         gap:10px;
     }
     
     .text-item{
        background-color: #FFFFFF;
        width:110px;
        height:165px;
        border-radius: 10px;
        padding:15px;
        padding-bottom:10px;
        box-shadow: 0 0 10px 0 #00000012, 0 20px 25px -5px #0000001A;
        display: flex;
        flex-direction: column;
        gap:7px;
    
    }
    
     
    
     .text-item  span{
     width:fit-content;
         border-radius:4px;
         padding:5px;
         font-size:12px;
         
     }
     
     .text-item h4{
         color: #0F172A;
         font-weight: 500;
         font-size:12px;
         width:100px;
     }
     
     .text-item p{
         color: #475569;
         font-weight: 400;
         font-size: 12px;
         width:110px;
         line-height:13px;
     }
     
     .text-item button{
         color: #2563EB;
         line-height:20px;
         font-weight:500;
         font-size:12px;
        border: 2px solid #2563EB ;
        border-radius: 8px;
        background-color: white;
        text-align: center;
       padding:1px;
        width:100px;
        height:30px;
     
     }

     .text-item:nth-child(3){
       display: none;
     }
     
}


@media (max-width:380px){
   
.sec4-left h4{
        color: rgba(15, 23, 42, 1);
        font-size:27px;
        font-weight:800;
        max-width:520px;
       
    }
    
   
    
  


}


/*//////////////////////////////////////////////////////////////////////////////////////////////////*/

/*section five */


.section-five{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin-top:5rem;
    
}

.sec5-left{
max-width:35%;
min-width: 20%;
}

.sec5-left img{
   max-width: 100%;
   min-width:80%;
   width: 100%;  
    
}

.sec5-right{
    display: flex;
    flex-direction: column;
    gap:2rem;
    position: relative;
     max-width:50%;
   
}

.sec5-right img{
    width: 50px;
    height: 50px;
    position: absolute;
    left:18.5rem;
    top:-2rem;
}

.sec5-right h4{
    color:#0F172A;
    font-size:43px;
    font-weight:800;
    max-width:390px;
}

.sec5-right p{
    max-width:450px;
    color:  #0F172A;
    line-height: 25px;

}


.arr{
    display: flex;
    gap: 1rem;
}

.arr span{
    color:#2563EB;
    font-weight:600;
}

.arr .arro{
    color: #2563EB;
    font-size:13px;
    position: relative;
    top:5px;
}

@media (max-width:852px){
    .section-five{
        display: flex;
        flex-direction: column-reverse;
        justify-content:flex-start;
        align-items:flex-start;
        gap:3rem;
        padding-left:5em;
        padding-right: 1em;
        
    }

    .sec5-left{
        max-width:100%;
        
        }
        
        .sec5-left img{
            width: 100%; 
            max-width:500px;
            
           
            
        }
        
        .sec5-right{
             max-width:none;
             width: 100%;
           
        }
        
        .sec5-right img{
            width: 50px;
            height: 50px;
            position: absolute;
            left:18.5rem;
            top:-2rem;
        }
        
        .sec5-right h4{
           
            max-width:550px;

        }
        
    
}

@media (max-width:516px){
    .section-five{
        
        padding-left:3em;
        
    }

}

@media (max-width:437px){
    .sec5-right h4{
      
        font-size:30px;
        max-width:650px;
    }
    
    .sec5-right img{
        width:35px;
        height:35px;
        position: absolute;
        left:13rem;
        top:-1.5rem;
    }

    .section-five{
       gap: 1rem;
        
    }
    }


/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/*section 6*/

.section-six{
    background-color:#0F172A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11rem;
    padding:4em 0;
    margin-top: 3rem;

}

.container-icon{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.container-icon img{
    width:40px;
    height:40px;
}

.container-icon h4{
    color: #FACC15;
    font-size:40px;
    font-weight:700;
}

.container-icon p{
    color:#FACC15;
}


@media (max-width:736px){
    .section-six{
        flex-direction: column;
        gap:4rem;
    
    }
}


/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/*section eight*/

.section-eight{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
    margin-top: 4rem;
  
}

.sec8-left{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width:30%;
   
   
}

.sec8-left h4{
    color:#0F172A;
     font-size:43px;
     font-weight:800;
     
     
     
}

.sec8-left p{
 color:#0F172A;
 line-height:25px;
 max-width:450px;
}

.sec8-right{
    width:40%;
    position: relative;
    
}

.sec8-right img{
    
   width:600px;
    
}

.sec8-right .text-item{
    width: 100%;
    max-width:200px;
    height:220px;
    position: absolute;
    top:2.5rem;
    left:1rem;
   }

   .sec8-right .text-item button{
    color: #2563EB;
    line-height: 24px;
    font-weight:500;
    font-size: 14px;
   border: 2px solid #2563EB ;
   border-radius: 8px;
   background-color: white;
   padding:8px 12px 8px 12px;
   width: 190px;
   height:40px;

}


@media (max-width:1222px){
    .sec8-right{
        width:40%;
        position: relative;
        
    }
    
    .sec8-right img{
          width:500px;
        
    }
    
    .sec8-right .text-item{
        width: 100%;
        max-width:150px;
        height:200px;
        position: absolute;
        top:1rem;
        left:1rem;
        gap:6px;
       }

      .sec8-right .text-item  span{
        width:fit-content;
        border-radius:4px;
        padding:5px;
        font-size:14px;
        
        
    
        
    }
    
    .sec8-right .text-item h4{
        color: #0F172A;
        font-weight: 500;
        font-size:15px;
        max-width:130px;
    }
    
   .sec8-right .text-item p{
        color: #475569;
        font-weight: 400;
        font-size:13px;
        max-width:140px;
        line-height: 19.6px;
    }
    

       .sec8-right .text-item button{
        color: #2563EB;
        line-height: 24px;
        font-weight:500;
        font-size: 14px;
       border: 2px solid #2563EB ;
       border-radius: 8px;
       background-color: white;
       padding:8px 12px 8px 12px;
       width: 150px;
       height:40px;
    
    }
}


@media (max-width:963px){
    .sec8-right{
        width:40%;
        position: relative;
        
    }
    
    .sec8-right img{
          width:400px;
        
    }
    
    .sec8-right .text-item{
        width: 100%;
        max-width:125px;
        height:165px;
        position: absolute;
        top:-1rem;
        left:1rem;
        gap:6px;
       }

      .sec8-right .text-item  span{
        width:fit-content;
        border-radius:4px;
        padding:5px;
        font-size:13px;
     }
    
    .sec8-right .text-item h4{
        color: #0F172A;
        font-weight: 500;
        font-size:13px;
        max-width:120px;
    }
    
    .sec8-right .text-item p{
        color: #475569;
        font-weight: 400;
        font-size:12px;
        max-width:140px;
        line-height:15px;
    }
    

       .sec8-right .text-item button{
        color: #2563EB;
        line-height: 24px;
        font-weight:500;
        font-size:13px;
       border: 2px solid #2563EB ;
       border-radius: 8px;
       background-color: white;
       text-align: center;
       padding:2px;
       width:120px;
       height:30px;
    
    }
}

@media (max-width:852px){
    .section-eight{
        flex-direction: column;
        display: flex;
        align-items:flex-start;
        justify-content: flex-start;
        gap:3rem;
        padding-left: 5em;
      
    }

    .sec8-left{
        display: flex;
        flex-direction: column;
        gap:2rem;
        width:100%;
       
       
    }

    .sec8-left p{
        color:#0F172A;
        line-height:25px;
        max-width:550px;
       }
       
    
    .sec8-right{
        width:100%;
        position: relative;
        
    }
    
    .sec8-right img{
        
       width:600px;
        
    }
    
    .sec8-right .text-item{
        width: 100%;
        max-width:200px;
        height:220px;
        position: absolute;
        top:2.5rem;
        left:1rem;
        gap:1rem;
       }

       .sec8-right .text-item  span{
        width:fit-content;
        border-radius:4px;
        padding:5px;
        
    }
    
    .sec8-right  .text-item h4{
        color: #0F172A;
        font-weight: 500;
        font-size: 20px;
        max-width:180px;
    }
    
    .sec8-right  .text-item p{
        color: #475569;
        font-weight: 400;
        font-size: 14px;
        max-width:170px;
        line-height: 19.6px;
    }
    
       .sec8-right .text-item button{
        color: #2563EB;
        line-height: 24px;
        font-weight:500;
        font-size: 14px;
       border: 2px solid #2563EB ;
       border-radius: 8px;
       background-color: white;
       padding:8px 12px 8px 12px;
       width: 190px;
       height:40px;
    
    }
    

}

@media (max-width:686px){
    
    
    .sec8-right img{
          width:500px;
        
    }
    
    .sec8-right .text-item{
        width: 100%;
        max-width:150px;
        height:200px;
        position: absolute;
        top:1rem;
        left:1rem;
        gap:6px;
       }

      .sec8-right .text-item  span{
        width:fit-content;
        border-radius:4px;
        padding:5px;
        font-size:14px;
        
        
    
        
    }
    
    .sec8-right .text-item h4{
        color: #0F172A;
        font-weight: 500;
        font-size:15px;
        max-width:130px;
    }
    
    .sec8-right .text-item p{
        color: #475569;
        font-weight: 400;
        font-size:13px;
        max-width:140px;
        line-height: 19.6px;
    }
    

       .sec8-right .text-item button{
        color: #2563EB;
        line-height: 24px;
        font-weight:500;
        font-size: 14px;
       border: 2px solid #2563EB ;
       border-radius: 8px;
       background-color: white;
       padding:8px 12px 8px 12px;
       width: 150px;
       height:40px;
    
    }
}


@media (max-width:582px){
   
    
    .sec8-right img{
          width:400px;
        
    }
    
    .sec8-right .text-item{
        width: 100%;
        max-width:125px;
        height:165px;
        position: absolute;
        top:-1rem;
        left:1rem;
        gap:6px;
       
       }

      .sec8-right .text-item  span{
        width:fit-content;
        border-radius:4px;
        padding:5px;
        font-size:13px;
     }
    
    .sec8-right .text-item h4{
        color: #0F172A;
        font-weight: 500;
        font-size:13px;
        max-width:120px;
    }
    
    .sec8-right .text-item p{
        color: #475569;
        font-weight: 400;
        font-size:12px;
        max-width:140px;
        line-height:15px;
    }
    

       .sec8-right .text-item button{
        color: #2563EB;
        line-height: 24px;
        font-weight:500;
        font-size:13px;
       border: 2px solid #2563EB ;
       border-radius: 8px;
       background-color: white;
       text-align: center;
       padding:2px;
       width:120px;
       height:30px;
    
    }
}


@media (max-width:516px){

    .section-eight{
        padding-left:2em;
    }

}


@media (max-width:472px){

    .sec8-left h4{
        font-size:30px;
       
         
         
         
    }
    
  
    
}

@media (max-width:441px){
   
    
    .sec8-right img{
          width:350px;
        
    }
    
    .sec8-right .text-item{
        width: 100%;
        max-width:115px;
        height:150px;
        position: absolute;
        top:-1rem;
        left:-1rem;
        gap:6px;
       
       }

      .sec8-right .text-item  span{
        width:fit-content;
        border-radius:4px;
        padding:5px;
        font-size:12px;
     }
    
    .sec8-right .text-item h4{
        color: #0F172A;
        font-weight: 500;
        font-size:12px;
        max-width:100px;
    }
    
    .sec8-right .text-item p{
        color: #475569;
        font-weight: 400;
        font-size:12px;
        max-width:140px;
        line-height:13px;
    }
    

       .sec8-right .text-item button{
        color: #2563EB;
        line-height: 24px;
        font-weight:500;
        font-size:12px;
       border: 2px solid #2563EB ;
       border-radius: 8px;
       background-color: white;
       padding:0;
       text-align: center;
       width:100px;
       height:25px;
    
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/*section nine*/
.section-nine{
    margin-top: 3rem;
}

img.sec9-one{
    width: 100%;

}

img.sec9-two{
    display: none;
}

@media (max-width:852px){
 
    img.sec9-one{
       display: none;
    }
    img.sec9-two{
        display: block;
        width:100%;
       
    }

}


/*///////////////////////////////////////////////////////////////////////////////////////*/

/*section three*/

.section-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F1F5F9;
    padding:4em 0;
   
}

.section-three h4{
color:#0F172A;
font-size:40px;
margin-bottom: 1rem;
}


.section-three p{
    text-align: center;
    max-width:680px;
    line-height:32px;
  
}

.position{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.big-img{
    width: 100%;
   
}



img.small-img{
   width:70%;
   min-width:50%;
  position: relative;
  top:-2rem;
   }


   @media (max-width:920px){
    img.small-img{
       
       top:-1.5rem;
        }
   }

   @media (max-width:623px){
    .section-three{
       
        align-items: flex-start;
        justify-content:flex-start;
       
       
    }

    
    .section-three h4{
    color:#0F172A;
    font-size:40px;
    margin-bottom: 1rem;
    margin-left:1rem;
    }
    
    .section-three p{
        text-align: left;
        max-width:600px;
        line-height:20px;
        margin-left:1rem;
      
    }

    img.small-img{
        width:100%;
        min-width:50%;
        top:-1rem;
      
      
        }
    
    
   }

   @media (max-width:485px){
  
    .section-three h4{
   
    font-size:30px;
  
    }
    
   
    img.small-img{
        width:100%;
        min-width:50%;
        top:1px;
      
      
        }
    
    
   }



/*//////////////////////////////////////////////////////////////////////////////////////////////*/


/*laset section*/

.last-section{
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: hsl(222, 47%, 11%);
    padding:2em 0;
    padding-left: 5em;
   
}

.upper{
    display: flex;
    max-width:93%;
    min-width:70%;
    justify-content: space-between;
    border-bottom:1px solid #334155;
    padding-bottom: 3em;
    
}

.upper1{
    display: flex;
    gap:2px; }

   .upper1 img{
    width:20px;
    height:20px;
    position: relative;
    top:5px;
   }

   .upper1 h4{
    font-size:27px;
    color:#FFFFFF;
   }

   .upper2{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
   }

   .upper2 span{
    color:#FFFFFF;
    white-space: nowrap;
   }

   .beta{
    display: flex;
    gap:10px;
   }

   .beta img{
    width:45px;
    height:22px;
   }


   .upper2 .special{
    display: flex;
    gap:10px;
   }

   .special .sarr{
    color: white;
    font-size:15px;
    position: relative;
    top:3px;
   }


   .floor{
    display: flex;
    justify-content: space-between;
    max-width:93%;
    min-width:70%;
    margin-top: 1.5rem;
 
     
   }

   .floor p{
    color: #E2E8F0;
    
   }
   .con{
    display: flex;
    gap: 2rem;
    
   }

   .con span{
    color:#E2E8F0;
   }

   .en{
    display: flex;
    gap:5px;
   
   }

   .en img{
    width:20px;
    height: 20px;
   }

   img.person{
    width:25px;
    height:40px;
    position: relative;
    top: -10px;
   }

   @media (max-width:889px){
    .upper{
       gap:1rem; }

    .upper2 span{
        font-size: 13px;
       }

       .floor{
        display: flex;
        flex-direction: column;
       max-width: none;
        min-width: none;
        gap: 2rem;
       
     
         
       }
    
   }

   @media (max-width:780px){

    .last-section{
       padding-left:1em;
       
    }
    .upper{
        flex-direction: column;
        display: flex;
        width:100%;
        max-width: none;
        min-width: none;
        gap:3rem;
       
        
    }
    .upper2 span{
        font-size:17px;
       }

    .floor{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:100%;
        max-width: none;
        min-width: none;
        gap: 2rem;
       
     
         
       }
    

   }


   @media (max-width:469px){

    .con{
        display: flex;
        gap:10px;
       
        
       }
       
   }

   @media (max-width:469px){

   
       .con span{
        color:#E2E8F0;
        font-size: 13px;
       }
   }

/*//////////////////////////////////////////////////////////////////////////////////////////////*/

/*section seven */

.section-seven{
    display: flex;
    flex-direction: column;
    gap:3rem;
    padding:4em 0;
    padding-left:3em;

}

.topic{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    

}

.topic h4{
    color:#0F172A;
    font-size:38px;
    font-weight: 800;
    
    }

.two-arrows{
    display: flex;
    gap:1rem;
}

.two-arrows .right, .two-arrows .left{
   width: 48px;
   height: 48px;
   cursor: pointer;
}

.slide{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap:1rem;
    max-width:100%;
    overflow-x: hidden;
/* background-color: #2563EB; */

}



.slideItem{
    display: flex;
    flex-direction: column;
    gap:2rem;
    max-width:300px;
    border-radius:10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding:20px;
    flex-shrink: 0;

   }

   .slideItem P{
    color: #000000;
    line-height: 25px;

   }

   .person{
      display: flex;
      gap:10px;
      
   }

   .person img{
    width: 50px;
    height: 50px;
   }

   .personDetails{
    display: flex;
    flex-direction: column;
    gap:1px;
    
   }

   .personDetails span{
    color: #000000;
   }

   .personDetails p{
    color: #475569;
   }


   @media (max-width:760px){
    .two-arrows{
        display: flex;
        gap:1rem;
    }
    
    .two-arrows .right, .two-arrows .left{
       width:40px;
       height:40px;
       
    }

    .topic{
        display: flex;
        justify-content: space-between;
        max-width:90%;
        
    
    }
   }

   @media (max-width:607px){
    .two-arrows{
        display: flex;
        gap:10px;
    }
    
    .two-arrows .right, .two-arrows .left{
       width:35px;
       height:35px;
       
    }

    .topic{
        display: flex;
        justify-content: space-between;
        max-width:95%;
        
    
    }
   }
   @media (max-width:601px){
 

    .topic{
        display: flex;
        flex-direction: column;
        gap:2rem;
        
        
 }

 .section-seven{
   gap:1rem;
    
}
   }

   @media (max-width:614px){
    .section-seven{
        padding-left:1em;
    }
   

   }

   @media (max-width:480px){
    .topic h4{
        
        font-size:30px;
        white-space: nowrap;
}

.slideItem{
   
    max-width:250px;
    
   }
   }


   @media (max-width:422px){
   
.slideItem{
   
    max-width:200px;
}
   

}
    
    
    

